@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,td,th,p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #e5e5e5;
	margin: 0;
	position:relative;
	display: flex;
	flex-direction: column;
}
ul, li {

	font-family: 'Josefin Sans', sans-serif;
	font-size: 16pt;
  font-weight: bold;
	color: #d83e70;
}
a {
	color: #162c84;
	text-decoration: none;
}
a:hover, a:focus {
	color: #e50b91;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #999;
}
#footer {
	font-family: 'Josefin Sans', sans-serif;
  background-color: #7ed7bb;
  color: #000;
  font-size: 8pt;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 40%;
  background: #1769aa;
  text-align:center;
	display: grid;
  line-height: 1.4;
  padding-left: 20px;
}
nav h1 {
  margin: auto;
	 display: inline-block;
}
nav h1 a {
  font-family: 'Special Elite', cursive;
  color: #7ed7bb;
  text-shadow: 1.5px 1.5px #0096a9;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 5px;

}
#main_header span {
font-size: 1.4em;
font-weight: bold;
color: #e1ea88;
text-decoration:none;
text-shadow: 2px 2px #aea5a5;
}

#breadcrumb {
	list-style: none;
	background-color: #7ed6bb;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display:inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #1869aa;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #df3490;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 50vh;
  width: 100%;
  background-color: #94ccf9;
}
#map-container {
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
#filter-list-container {
  width: 100%;
}
.filter-options {
  background-color:#7ed7bb;
  align-items: center;
	padding: 2.5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.filter-options h2 {
  color: #104b79;
  text-shadow: 1.5px 1.5px #0096a9;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Josefin Sans', sans-serif;
	height: 25px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	width: 170px;
	font-size: 15px;
	border-radius: 5px;
}
.filter-options label {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #e1ea88;
  list-style: outside none none;
  margin: 0;
	padding: 10px 15px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: 'Josefin Sans', sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 0 25px;
	width: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 30px 0 30px 0;
}
#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
	border-radius: 30px 0 30px 0;
  padding: 10px;
}
#restaurants-list li h1 {
  color: #14A3B3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16pt;
  text-shadow: 1px 1px #0096a9;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 5px;
  text-transform: uppercase;
  height: 56px;
}
#restaurants-list p {
  margin: 0;
  line-height: 1;
  font-size: 16px;
  align-content:center;
}
#restaurants-list li a {
  background: linear-gradient(120deg, #1a78c2 0%, #4DC7A2 100%);
  color: #fff;
  display:grid;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 5px 5px;
  width: 60%;
  align-self: center;
  box-shadow: 5px 5px 6px #aaaaaa;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: #f7dba8 none repeat scroll 0 0;
  height: 400px;
	border-bottom: 1px solid #999;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #eb3472;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 0;
  margin: 5px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img-container {
  display: flex;
  flex-direction: column;
}
#restaurant-img {
	width: 100%;
  max-width: 100%;
  border: 1px solid #999;
  padding: 5px;
  border-radius: 4px;
}
#restaurant-address {
	margin: 10px 0px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}
#restaurant-cuisine {
  background-color: #4DC7A2;
  color: #eb3472;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 10px;
  margin: 5px 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
  align-self: center;
  text-decoration: none;
  webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 20px 40px;
  width: 50%;
}
#restaurant-container {
  width: 38%;
}
#reviews-container {
  padding-bottom: 0;
  width: 62%;
}
#reviews-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#reviews-container h2 {
  color: #eb3472;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -1px;
  padding-bottom: 1pt;
	margin-right: 10px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
	padding: 10px 20px 16px;
	position: relative;
	border-radius: 4px;
}
#reviews-list li p {
  font-family: 'Handlee', cursive;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: normal;
}
#restaurant-hours td {
  color: #666;
  font-size: 18px;
  font-weight: normal;
}
/* ====================== Media Queries ====================== */
@media screen and (max-width: 1100px) {
  #restaurants-list li {
    width: 270px;
  }
}

@media screen and (max-width: 1024px) {
  #restaurant-container {
    width: 45%;
  }
  #reviews-container {
    width: 55%;
  }
}

@media screen and (max-width: 950px) {
  #restaurants-list li {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  /* #restaurant-container, #reviews-container {
    width: 50%;
  } */
  #restaurant-container {
    flex-basis: 40%;
    flex-grow: 1;
  }
  #reviews-container {
    min-width: 365px;
  }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
  #restaurants-list li {
    width: 270px;
  }
}

@media screen and (max-width: 650px) {
  #restaurant-container, #reviews-container, #breadcrumb {
    padding: 12px;
    width: 100%;
  }
  .filter-options {
    flex-direction: column;
  }
  #restaurant-container, #reviews-container {
    width: 100%;
  }
  #restaurant-name {
    margin: 15px 0 10px;
  }
  #reviews-container h2 {
    margin: 0 10px 10px 0;
  }
}

@media screen and (max-width: 400px) {
  #restaurant-container, #reviews-container, #breadcrumb {
    padding: 10px;
  }
  #reviews-container {
    min-width: unset;
  }
  #restaurants-list li {
    margin: 15px 0;
    width: 270px;
  }
  #offline {
    max-width: 300px;
    top: -170px;
  }
  /* .static-rate > label {
    font-size: 28px;
  } */
}

@media screen and (max-width: 340px) {
  .static-rate > label {
    font-size: 28px;
  }
  #reviews-list li p.updatedAt {
    font-size: .90em;
  }
  #confirm_form {
    min-width: 250px;
  }
}

@media screen and (min-width: 426px) {
  #restaurant-container {
    padding-right: 20px;
  }
  #reviews-container {
    padding-left: 20px;
  }
}

/* adjust for device onscreen keyboards */
@media screen and (max-height: 540px) {
  .modal {
    top: 10px;
    transform: translate(-50%, 0);
  }
  .modal_form_container {
    overflow-y: scroll;
    height: 230px;
  }
  #confirm_delete_modal {
    top: 1%;
  }
}

@media screen and (max-height: 300px) {
  .modal_form_container {
    height: 180px;
  }
}
